{% render 'partials/head.liquid', title: 'article', path: path %}

<h1>artikel</h1>

{{ news.description }}

<h2>comments</h2>

<section class="article-layout comments-section" id="comments">
  <form method="post" action="/nieuws/{{news.uuid}}">
    <h3>Reactie achterlaten</h3>
    <p></p>
    <label>
      Naam*
      <input required type="text" name="name">
    </label>
    <label>
      Reactie*
      <textarea required name="comment"></textarea>
    </label>
    <button type="submit">Reageer</button>
  </form>

  <article class="comment-list">
    {% if comments.length > 0 %}
      <h4>Reacties, {{ comments.length }}</h4>
      <ul>
        {% for comment in comments %}
          <li>
            <h5>
              {{ comment.name | escape }}, <span>{{ comment.date_created | date: ' %d %B, %Y %H:%M' }}</span>
            </h5>
            <p>{{ comment.comment | escape }}</p>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Nog geen reacties....</p>
      <p>wees de eerste met iets leuks achter te laten!</p>
    {% endif %}
  </article>
</section>

<script type="module">
  const commentForm = document.querySelector('form');
  const commentSection = document.querySelector('.comments-section');
  const formButton = document.querySelector('form button');
  const commentList = document.querySelector('.comment-list');

  commentForm.addEventListener('submit', async function (event) {
    event.preventDefault();

    formButton.textContent = 'Loading...';
    commentSection.classList.add('loading-comments');

    // commentdata voorbereiden
    let commentData = new FormData(commentForm);
    const response = await fetch(commentForm.action, {
      method: commentForm.method,
      body: new URLSearchParams(commentData),
    });

    console.log(response);
    // de html pagina als tekst
    const responseData = await response.text();

    const parser = new DOMParser();
    const responseDOM = parser.parseFromString(responseData, 'text/html');

    const newState = responseDOM.querySelector('.comment-list');

    commentList.innerHTML = newState.innerHTML;
    commentSection.classList.remove('loading-comments');
    commentSection.classList.add('success-comments');
    formButton.textContent = 'gelukt!';
    document.querySelector('form h3').textContent = 'Je reactie is succesvol geplaatst geplaatst!!';
    document.querySelector('form p').textContent = 'Bedankt voor je deelname!';
  });
</script>

{% render 'partials/foot.liquid' %}
